@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signInManager
<!doctype html>
<html dir="rtl" lang="en-US">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - دانلود فیلم و سریال</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/Theme/images/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Theme/css/bootstrap.min.css" />
    <!-- Typography CSS -->
    <link rel="stylesheet" href="/Theme/css/typography.css">
    <!-- Style -->
    <link rel="stylesheet" href="/Theme/css/style.css" />
    <!-- Responsive -->
    <link rel="stylesheet" href="/Theme/css/responsive.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/owl.theme.green.min.css" />

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header id="main-header">
        <div class="main-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <nav class="navbar navbar-expand-lg navbar-light p-0">
                            <a href="#" class="navbar-toggler c-toggler" data-toggle="collapse"
                               data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                               aria-expanded="false" aria-label="Toggle navigation">
                                <div class="navbar-toggler-icon" data-toggle="collapse">
                                    <span class="navbar-menu-icon navbar-menu-icon--top"></span>
                                    <span class="navbar-menu-icon navbar-menu-icon--middle"></span>
                                    <span class="navbar-menu-icon navbar-menu-icon--bottom"></span>
                                </div>
                            </a>
                            <a class="navbar-brand" href="/">
                                <img class="img-fluid logo" src="/Theme/images/logo.png"
                                     alt="streamit" />
                            </a>

                            <div class="mobile-more-menu">
                                <a href="javascript:void(0);" class="more-toggle" id="dropdownMenuButton"
                                   data-toggle="more-toggle" aria-haspopup="true" aria-expanded="false">
                                    <i class="ri-more-line"></i>
                                </a>
                                <div class="more-menu" aria-labelledby="dropdownMenuButton">
                                    <div class="navbar-right position-relative">
                                        <ul class="d-flex align-items-center justify-content-end list-inline m-0">
                                            <li>
                                                <a href="#" class="search-toggle">
                                                    <i class="ri-search-line"></i>
                                                </a>
                                                <div class="search-box iq-search-bar">
                                                    <form action="/Movies/SearchMovie" method="get" class="searchbox">
                                                        <div class="form-group position-relative">
                                                            <input type="text" class="text search-input font-size-12" name="q"
                                                                   placeholder="type here to search...">
                                                            <i class="search-link ri-search-line"></i>
                                                        </div>
                                                    </form>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <div class="menu-main-menu-container">
                                    <ul id="top-menu" class="navbar-nav ml-auto">
                                        <li class="menu-item">
                                            <a href="/">خانه</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/Archive">فیلم ها</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="navbar-right menu-right">
                                <ul class="d-flex align-items-center list-inline m-0">
                                    <li class="nav-item nav-icon">
                                        <a href="#" class="search-toggle device-search">
                                            <i class="ri-search-line"></i>
                                        </a>
                                        <div class="search-box iq-search-bar d-search">
                                            <form action="/Movies/SearchMovie" method="get" class="searchbox">
                                                <div class="form-group position-relative">
                                                    <input type="text" name="q" class="text search-input font-size-12"
                                                           placeholder="برای جستجو اینجا را تایپ کنید ...">
                                                    <i class="search-link ri-search-line"></i>
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                    <li class="nav-item nav-icon">
                                        <a href="#" class="search-toggle" data-toggle="search-toggle">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22"
                                                 class="noti-svg">
                                                <path fill="none" d="M0 0h24v24H0z" />
                                                <path d="M18 10a6 6 0 1 0-12 0v8h12v-8zm2 8.667l.4.533a.5.5 0 0 1-.4.8H4a.5.5 0 0 1-.4-.8l.4-.533V10a8 8 0 1 1 16 0v8.667zM9.5 21h5a2.5 2.5 0 1 1-5 0z" />
                                            </svg>
                                            <span class="bg-danger dots"></span>
                                        </a>
                                        @await Component.InvokeAsync("ShowLastMoviesViewComponents")
                                    </li>
                                    @if (signInManager.IsSignedIn(User))
                                    {

                                        <li>
                                            <a href="#" class="iq-user-dropdown search-toggle d-flex align-items-center">
                                                <img src="/Theme/images/user/user.jpg" class="img-fluid avatar-40 rounded-circle"
                                                     alt="user">
                                            </a>
                                            <div class="iq-sub-dropdown iq-user-dropdown">
                                                <div class="iq-card shadow-none m-0">
                                                    <div class="iq-card-body p-0 pl-3 pr-3">
                                                        <a href="/Users/Home/ShowProfile" class="iq-sub-card setting-dropdown">
                                                            <div class="media align-items-center">
                                                                <div class="right-icon">
                                                                    <i class="ri-file-user-line text-primary"></i>
                                                                </div>
                                                                <div class="media-body ml-3">
                                                                    <h6 class="mb-0 ">پروفایل</h6>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <a href="/Users/Profile/Edit" class="iq-sub-card setting-dropdown">
                                                            <div class="media align-items-center">
                                                                <div class="right-icon">
                                                                    <i class="ri-settings-4-line text-primary"></i>
                                                                </div>
                                                                <div class="media-body ml-3">
                                                                    <h6 class="mb-0 ">ویرایش پروفایل</h6>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        @if (User.IsInRole("Admin"))
                                                        {
                                                            <a href="/Admin" class="iq-sub-card setting-dropdown">
                                                                <div class="media align-items-center">
                                                                    <div class="right-icon">
                                                                        <i class="ri-settings-4-line text-primary"></i>
                                                                    </div>
                                                                    <div class="media-body ml-3">
                                                                        <h6 class="mb-0 ">پنل مدیریت</h6>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        }
                                                        <a href="/Logout" class="iq-sub-card setting-dropdown">
                                                            <div class="media align-items-center">
                                                                <div class="right-icon">
                                                                    <i class="ri-logout-circle-line text-primary"></i>
                                                                </div>
                                                                <div class="media-body ml-3">
                                                                    <h6 class="mb-0">خروج</h6>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="/Register">ثبت نام</a>
                                        </li>
                                        <li>
                                            <a href="/Login">ورود به سایت</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <!-- MainContent -->

    @RenderSection("Filters", false)

    <div class="col-12">
        @RenderBody()
    </div>

    <footer id="contact" class="footer-one iq-bg-dark">

        <!-- Address -->
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row footer-standard">
                    <div class="col-lg-7">
                        <div class="widget text-left">
                            <div class="menu-footer-link-1-container">
                                <ul id="menu-footer-link-1" class="menu p-0">
                                    <li id="menu-item-7314" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7314">
                                        <a href="#">شرایط استفاده</a>
                                    </li>
                                    <li id="menu-item-7316" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7316">
                                        <a href="../html/privacy-policy.html">سیاست حفظ حریم خصوصی</a>
                                    </li>
                                    <li id="menu-item-7118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7118">
                                        <a href="../html/faq.html">سوالات متداول</a>
                                    </li>
                                    <li id="menu-item-7118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7118">
                                        <a href="../html/watch-video.html">لیست تماشا</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget text-left">
                            <div class="textwidget">
                                <p><small>راست چین شده و فارسی سازی توسط <a class="text-primary title" href="htpps://netcopy.ir">نت کپی</a></small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 mt-4 mt-lg-0">
                        <h6 class="footer-link-title">
                            ما را دنبال کنید :
                        </h6>
                        <ul class="info-share">
                            <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a target="_blank" href="#"><i class="fa fa-github"></i></a></li>
                        </ul>

                    </div>
                    <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
                        <div class="widget text-left">
                            <div class="textwidget">
                                <h6 class="footer-link-title">اپلیکیشن ما</h6>
                                <div class="d-flex align-items-center">
                                    <a class="app-image" href="#">
                                        <img src="/Theme/images/footer/01.jpg" alt="play-store">
                                    </a><br>
                                    <a class="ml-3 app-image" href="#"><img src="/Theme/images/footer/02.jpg" alt="app-store"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Address END -->
    </footer>

    <!-- MainContent End-->
    <!-- back-to-top -->
    <div id="back-to-top">
        <a class="top" href="#top" id="top"> <i class="fa fa-angle-up"></i> </a>
    </div>
    <!-- back-to-top End -->
    <!-- jQuery, Popper JS -->

    <script src="/Theme/js/jquery-3.4.1.min.js"></script>
    <script src="~/Theme/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Theme/js/bootstrap.min.js"></script>
    <!-- Slick JS -->
    <script src="~/Theme/js/slick.min.js"></script>
    <!-- owl carousel Js -->
    <script src="~/Theme/js/owl.carousel.min.js"></script>
    <!-- select2 Js -->
    <script src="~/Theme/js/select2.min.js"></script>
    <!-- Magnific Popup-->
    <script src="~/Theme/js/jquery.magnific-popup.min.js"></script>
    <!-- Slick Animation-->
    <script src="~/Theme/js/slick-animation.min.js"></script>
    <!-- Custom JS-->
    <script src="~/Theme/js/custom.js">

     
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $('.loop').owlCarousel({
            center: true,
            items: 1,
            loop: true,
            margin: 10,
            rtl: true,
            responsive: {
                600: {
                    items: 4
                }
            }
        });
    </script>
    <script>
       
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel();
        });
       
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
